<header>
<div class="menu fixedNav">
  <div class="container">
    <div class="button-fix">
      <a href="tel:0784060438" class="button4">
        <i class="fa fa-phone"></i>
        <span class="txt">07 84 06 04 38</span>
      </a>
    </div>
    <div class="row flex-middle1">
      <div class="col-lg-2 col-xs-12 col-sm-12 text-center">
        <div>
          <a href="./"><img src="./assets/img/logo_black.png" alt="logo cly events blanc" style="padding-top: 0;"></a>
        </div>
      </div>
      <div class="col-sm-12  col-md-10 col-lg-8 menu-right">
        <nav class="">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul>
              <li>
                <a class="active" href="./index.html">Accueil</a>
              </li>
              <li>
                <a class="" href="./a-propos.html">À propos</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Prestations
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown"
                  style="background-color: #1C1C1C !important; width: 100%;">
                  <a class="dropdown-item " href="./professionnel.html">Professionnel</a>
                  <a class="dropdown-item " href="./particulier.html">Particulier</a>
                </div>
              </li>
              <li>
                <a class="" href="./galerie.html">Galerie</a>
              </li>
              <li>
                <a class="" href="./temoignages.html">Témoignages</a>
              </li>
              <li>
                <a class="" href="./contact.html">Contact</a>
              </li>
              <li class="visible-xs">
                <a class="button1" href="./devis.html">
                  <span class="txt">Devis gratuit</span>
                </a>
              </li>
            </ul>
            <ul class="social social-mobile visible-xs">
              <li><a href="https://www.facebook.com/clyevents" target="_blank"><span
                    class="fa fa-facebook fa-fw"></span></a></li>
              <li><a href="https://www.instagram.com/clyevents" target="_blank"><span
                    class="fa fa-instagram fa-fw"></span></a></li>
              <li><a href="https://www.mixcloud.com/clyevents/" target="_blank"><span
                    class="fa fa-soundcloud fa-fw"></span></a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-md-2 hidden-sm hidden-xs text-right">
        <a href="tel:0784060438" class="button1">
          <span class="txt">07 84 06 04 38</span>
        </a>
      </div>
      <div class="col-md-2 hidden-sm hidden-xs text-right">
        <a href="./devis.html" class="button1">
          <span class="txt">Devis gratuit</span>
        </a>
      </div>
    </div>
  </div>
</div>
</header>